@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-papel: #F5F0E8;
  --color-papel-oscuro: #EDE8DC;
  --color-blanco-roto: #FDFAF5;
  --color-borravino: #64313E;
  --color-tinta: #1C1917;
  --color-tinta-suave: #5C5147;
  --color-cielo: #C1DBE8;
  --color-borde: #D6CFBF;

  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: #F5F0E8;
  color: #1C1917;
  font-family: "Inter", sans-serif;
}
